
  .home {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%; /* Adjust the height as needed */
    background-color: white;
    transform-origin: top left;
    transform: skewY(-3deg) scaleY(3);
    z-index: -1;
  }
  
  .home::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%; /* Adjust the height as needed */
    background-color: #081b29; /* Adjust the color as needed */
    transform-origin: bottom left;
    transform: skewY(-18deg) scaleY(1.4);
    z-index: -1;
  }

  .img-profile {
    border-radius: 50%;
    border: 2px solid #00abf0;
    /* background: rgb(8,27,41);
    background: linear-gradient(90deg, rgba(8,27,41,1) 0%, rgba(0,212,255,1) 100%); */
    width: 25rem;
    height: 25rem;
    overflow: hidden;
  }
  
  .img-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: none;
    transition: transform 0.3s ease;
  }
  
  .img-profile img:hover {
    transform: scale(1.1);
  }
  
  .home-content {
    max-width: 70%;
  }
  
  .home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
  }
  
  .home-content p {
    font-size: 17px;
    margin: 20px 0 40px;
    position: relative;
  }

  .home-content p::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00abf0; /* Adjust the color as needed */
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .home-content p:hover::before {
    transform: scaleX(1);
  }
  
  .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
  }
  
  .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .btn-box a:hover {
    color: #00abf0;
  }
  
  .btn-box a:nth-child(2) {
    background-color: transparent;
    color: #00abf0;
  }
  
  .btn-box a:nth-child(2):hover {
    color: #081b29;
  }
  
  .btn-box a:nth-child(2)::before {
    background-color: #00abf0;
  }
  
  .btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: 0.5s;
  }
  
  .btn-box a:hover::before {
    width: 100%;
  }
  
  .home-sci {
    position: absolute;
    bottom: 10rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
  }
  
  .home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
  }
  
  .home-sci a:hover {
    background: rgb(8,27,41);
    background: linear-gradient(90deg, rgba(8,27,41,1) 0%, rgba(0,212,255,1) 100%);
    animation: bounce 0.5s;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @media (min-width: 375px) and (max-width: 768px) {

  

.home-sci {
    bottom: 4rem
}

    .home-background {
      display: none;
    }
    .home {
      height: 100vh;
      display: flex;
      align-items: center;
      padding: 9% 5%;
    }
    .home-content {
      max-width: 87%;
    }
  
    .home-sci a {
      width: 41px;
      height: 38px;
    }
  
    .btn-box a {
      width: 141px;
      height: 79%;
    }
  
    .btn-box {
      width: 20rem;
    }
  
    .home-content h1 {
      font-size: 31px;
      font-weight: 700;
      line-height: 1.2;
    }
  
    .home-content h3 {
      font-size: 23px;
      font-weight: 700;
      color: #f0005c;
    }

    .img-profile {
      display: none;
    }

   
  }
  
  @media (min-width: 768px) and (max-width: 1022px) {
    .home-background {
      position: absolute;
      right: 0;
      bottom: 0;
      background: url('../../public/professinal.png') no-repeat;
      background-size: contain;
      -webkit-mask-image: linear-gradient(to right, transparent, black);
      mask-image: linear-gradient(to right, transparent, black);
    }
  
    .home-sci {
      position: absolute;
      bottom: 8rem;
      width: 20rem;
      display: flex;
      justify-content: space-between;
    }
  
    .home-content {
      max-width: 99%;
    }

    .img-profile{
      width: 59rem;
    height: 16rem;
    }

    .projects h2 {
      text-align: center;
      padding: 10% 0% 0 0rem;
  }
  .home-sci{
    bottom: 2rem;
  }
  }

  @media (min-width: 1023px) and (max-width: 1200px) {
    .img-profile{
      height: 16rem;
    }

    .home-sci{
      bottom: 1rem;
    }
  }
  
  @media (min-width: 1201px) and (max-width: 1440px) {
    .home-background {
      position: absolute;
      right: 0;
      bottom: 0;
      background: url('../../public/professinal.png') no-repeat;
      background-size: contain;
      -webkit-mask-image: linear-gradient(to right, transparent, black);
      mask-image: linear-gradient(to right, transparent, black);
    }
  
    .home-sci {
      bottom: 4rem;
    }

    .img-profile{
      width: 52rem;
    }
  }
  
  @media (min-width: 1441px) and (max-width: 2000px) {
    .home-background {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 33%;
      background: url('../../public/professinal.png') no-repeat;
      background-size: contain;
      -webkit-mask-image: linear-gradient(to right, transparent, black);
      mask-image: linear-gradient(to right, transparent, black);
    }
  }
  