.scrollable-container {

  }


.project-info-details{
    display: flex;
    flex-direction: row;
}


.image-stack {
 
   
  }


  
    img {
        width: 45rem;
        height: 33rem;
        /* width: 10; */
        display: block;
      }

      .desc-text-info-details{
        width: 100%;
        background-color: red;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white; /* Set a background color if needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for visibility */
    color: black;
    
      }
  
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}



