

.project-info-details{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.swiper{
    margin-top: 5rem;
    height: 100vh;
    /* width: 80rem; */
}



  
    img {
        /* width: 35rem;
        height: 30rem; */
        /* width: 10; */
        display: block;
      }

      .image-stack_item img {
        width: 38rem;
        height: 29rem;
        /* width: 10; */
        display: block;
      }

      /* .image-stack_item img.project-img-1 {
        max-height: 300px;
      } */

      .desc-text-info-details{
        width: 100%;
        background-color: red;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white; /* Set a background color if needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for visibility */
    color: black;
    
      }
  
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}



